# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables - JANGAN PERNAH DI-COMMIT
.env
.env.local
.env.*.local

# Database lokal
prisma/dev.db
prisma/dev.db-journal
temp_struk.bin

# Misc
.DS_Store
*.pem
